@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'), url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Montserrat', 'Arial', sans-serif;
}

button {
  font-family: 'Montserrat', 'Arial', sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.container--full {
  max-width: 1440px;
  padding: 0;
}

.container--wide {
  max-width: 1235px;
}

.container--medium {
  max-width: 1085px;
}

.container--narrow {
  max-width: 980px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.header__container {
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  /* justify-content: space-between; */
}

.cities {
  display: flex;
  align-items: center;
}

.cities__item {
  margin-right: 25px;
}

.cities__item:last-child {
  margin-right: 0;
}

.cities__link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.cities__link:hover {
  text-decoration: underline;
}

.main-nav {
  display: flex;
  margin-left: auto;
}

.main-nav__list {
  display: flex;
  align-items: center;
}

.main-nav__item {
  margin-right: 40px;
}

.main-nav__link {
  text-decoration: none;
  color: #ffffff;
}

.main-nav__link:hover {
  text-decoration: underline;
}

.header__button {
  background: #ffffff;
  border-radius: 50px;
  color: #2F80ED;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  line-height: 17px;
  font-size: 14px;
}

.header__button:hover {
  background: #d6d6d6;
}

.promo__container {
  position: relative;
}

.promo {
  background-image: url('../img/bg-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 45px 0px 0px rgba(47, 128, 237, 0.05);
}

.rating {
  height: 230px;
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  left:65px;
  bottom:-85px;
  position: absolute;
  color: #2f80ed;
  border-radius: 100%;
  background: radial-gradient(68.31% 68.31% at 50% 50%, #F9FBFF 0%, #CADEF9 100%), #FFFFFF;
  box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
}

.rating__title {
  font-weight: 40;
  font-size: 14px;
  line-height: 21px;
}

.rating__subtitle {
  margin-top: 10=5px;
  font-weight: 700;
  font-size: 34px;
  line-height: 52px;
}

.rating__text {
  margin-top: 15px;
}

.rating__text--bold {
  font-weight: 700;
  margin-top: 5px;
}

.rating__link {
  margin-top: 15px;
  text-decoration: none;
  color: #2f80ed;
}

.rating__link:hover {
  text-decoration: underline;
}

.promo__container {
  padding-top: 160px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-bottom: 200px;
  /* justify-content: space-between */
}

.promo__heading {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 550px;
}

.promo__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.promo__text--lower {
  margin-top: 20px;
}

.promo__button {
  margin-top: 40px;
  background: #64E2CD;
  color: #ffffff;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50px;
  box-shadow: 0 0 0 14px rgba(100, 226, 205, 0.5);
}

.promo__button:hover {
  box-shadow: 0 0 0 14px rgba(0, 255, 213, 0.5);
}

.promo__title {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.disadvantages__container {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.disadvantages__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  max-width: 505px;
}

.disadvantages__list {
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.disadvantages__item {
  box-shadow: 0px 20px 40px rgba(47, 55, 237, 0.1);
  border-radius: 10px;
  margin-top: 130px;
  padding-top: 45px;
  padding-right: 50px;
  padding-bottom: 40px;
  padding-left: 55px;
  display: flex;
  flex-wrap: wrap;
  width: 310px;
}

.disadvantages__subtitle {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #2f80ed;
}

.disadvantages__text {
  font-size: 14px;
  line-height: 20px;
  color: #636363;
}

.benefits {
  background: rgba(47, 128, 237, 0.05);
}

.benefits__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 85px;
  padding-bottom: 150px;
}

.benefits__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.benefits__item {
  width: 225px;
}

.benefits__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  margin-top: 125px;
}

.benefits__subtitle {
  margin-top: 130px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #2f80ed;
  line-height: 20px;
  min-height: 40px;
}

.benefits__text {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #636363;
}

.course__container {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
}

.course__list {
  display: flex;
  justify-content: center;
}

.course__item:nth-child(2n) {
  margin-left: 70px;
}

.course__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
}

.course__subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #2f80ed;
  max-height: 20px;
}

.course__wrapper {
  display: flex;
  justify-content: space-between;
}

.custdev {
  display: flex;
  align-items: center;
}

.custdev__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  width: 330px;
  box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1);
  border-radius: 10px;
  padding: 60px 40px;
  margin-top: 65px;
}

.custdev__subtitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  color: #2f80ed;
}

.custdev__text {
  margin-top: 10px;
}

.course__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.course__item {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  margin-top: 130px;
  min-height: 84px;
}

.course__text {
  min-height: 80px;
  min-width: 250px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #636363;
}

.course__link {
  margin-top: 130px;
  text-transform: uppercase;
  color: #2f80ed;
  text-decoration: none;
}

.course__link:hover {
  text-decoration: underline dashed #2f80ed;
}

.results {
  background: #2f80ed;
  margin-top: 130px;
  box-shadow: 0px 70px 0px 0px rgba(47, 128, 237, 0.05), 0px -70px 0px 0px rgba(47, 128, 237, 0.05);
}

.results__container {
  background: #2f80ed;
  display: flex;
  flex-wrap: wrap;
}

.results__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
  color: #ffffff;
  padding-top: 35px;
}

.results__section {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
  justify-content: space-between;
}

.results__wrapper {
  max-width: 540px;
  min-height: 250px;
  background: #ffffff;
  display: flex;
  align-items: flex-start;
  margin-top: 80px;
  box-shadow: 0px 10px 30px rgba(47, 55, 237, 0.1);
  border-radius: 10px;
  padding-bottom: 55px;
  padding-right: 50px;
  padding-top: 55px;
  padding-left: 55px;
}

.results__icon {
  margin-right: 45px;
}

.results__caption {

}

.results__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  color: #2f80ed;
}

.results__text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 23px;
  color: #636363;
}

.reliance__section {
  list-style-type: none;
}

.reliance__container {
  display: flex;
  flex-direction: column;
}

.reliance__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 55px;
  margin-top: 130px;
}

.reliance__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.reliance__section-img {
  border-radius: 10px;
}

.reliance__section-item {
  padding: 70px;
  box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1);
  border-radius: 10px;
}

.reliance__section-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
  color: #2f80ed;
}

.reliance__section-text {
  font-size: 16px;
  color: #636363;
  line-height: 29px;
  margin-top: 10px;
}

.reliance__list {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}

.reliance__item {
  max-width: 250px;
}

.reliance__subtitle {
  margin-top: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  color: #2f80ed;
}

.reliance__text {
  margin-top: 15px;
  font-size: 16px;
  line-height: 23px;
  color: #636363;
}


.reviews__feedback {
  display: flex;
  margin-top: 75px;
}

.reviews__title {
  font-size: 35px;
  font-weight: 700;
  color: #000000;
  margin-top: 100px;
}

.reviews__list {
  display: flex;
  flex-direction: column;
}

.reviews__item:nth-child(2) {
  margin-top: 60px;
}

.reviews__list:last-child {
  margin-left: 60px;
}

.reviews__item {
  max-width: 555px;
  width: 100%;
}

.reviews__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #636363;
  text-transform: uppercase;
}

.reviews__text {
  margin-top: 15px;
  font-size: 16px;
  line-height: 29px;
  color: #636363;
}

.reviews__heading {
  padding: 30px 45px;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(47, 55, 237, 0.1);
}

.reviews__userpic {
  margin-top: 5px;
}

.previous-courses__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.previous-courses__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  margin-top: 100px;
}

.previous-courses__gallery {
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.previous-courses__thumb {
  margin-top: 20px;
}

.price__title {
  text-align: center;
  margin-top: 130px;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.price__list {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}

.price__item {
  box-shadow: 0px 20px 50px rgba(47, 55, 237, 0.12);
  border-radius: 10px;
  min-height: 290px;
  min-width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #2f80ed;
}

.price__subtitle {
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
}

.price__text {
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
}

.price__button {
  background: #64E2CD;
  color: #ffffff;
  border: none;
  padding: 15px 45px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 50px;
}

.price__button:hover {
  background: rgb(84, 189, 171);
}

.price__list--bottom {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.price__item--bottom {
  display: flex;
  flex-direction: row;
  min-width: 570px;
  min-height: 160px;
  justify-content: space-around;
}

.price__item--profit {
  position: relative;
}

.price__item--profit::before {
  content: "Выгодно";
  position: absolute;
  top: -45px;
  right: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2f80ed;
  border-radius: 50%;
}

.price__employee {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__employee--bottom {
  margin-bottom: 0;
}

.includes__container {
  display: flex;
  flex-wrap: wrap;
}

.includes__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.includes__item {
  margin-top: 65px;
  max-width: 410px;
  padding-top: 55px;
  padding-right: 45px;
  padding-bottom: 55px;
  padding-left: 65px;
  box-shadow: 0px 20px 50px rgba(47, 55, 237, 0.12);
  border-radius: 10px;
}

.includes__item-default {
  display: flex;
  align-items: center;
}

.includes__item-icon {
  display: flex;
}

.includes__item-video {
  display: flex;
  flex-wrap: wrap;
}

.includes__icon {
  margin-right: 20px;
  margin-bottom: 30px;
}

.includes__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #2f80ed;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  font-weight: 600;
  margin-top: 30px;
}

.includes__link:hover {
  text-decoration: underline;
}

.includes__thumb {
  max-width: 295px;
  max-height: 165px;
  border-radius: 5px;
}

.includes__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  margin-top: 250px;
}

.includes__subtitle {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #2f80ed;
  letter-spacing: 0.05em;
}

.includes__text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #636363;
  max-height: 80px;
}

.form {
  background: rgba(47, 128, 237, 0.05);
}

.input-form {
  margin-top: 350px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.input-form__text {
  padding: 15px;
  width: 265px;
  margin-right: 35px;
  border: 1px solid rgba(47, 128, 237, 0.3);
}

.input-form__text::placeholder {
  padding-left: 20px;
}


.input-form__button {
  background: #64E2CD;
  color: #ffffff;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50px;
}

.input-form__button:hover {
  background: rgb(84, 189, 171);
}

.footer {
  background: #2F80ED;
}

.footer__container {
  display: flex;
  height: 128px;
  align-items: center;
  justify-content: space-between;
}

.footer__button {
  background: #ffffff;
  border-radius: 50px;
  color: #2F80ED;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
}

.footer__button:hover {
  background: #d6d6d6;
}

.copyrights {
  background: #185FBF;
}

.copyrights__container {
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyrights__list {
  display: flex;
}

.copyrights__item {
  margin-right: 50px;
}

.copyrights__item:last-child {
  margin-right: 0px;
}

.copyrights__link {
  text-decoration: none;
  opacity: .7;
  line-height: 17px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.copyrights__link:hover {
  text-decoration: underline;
  opacity: 1;

}

.copyrights__text {
  color: #ffffff;
  opacity: .7;
}

